@import url("./fontFamily.css");

/* Importing Tailwind */
@tailwind base;
@tailwind components;
@tailwind utilities;


/* Custom CSS ----------------------------------------------------- */  


/* Main/Primary Text Fonts Configuration */

.main-text-xs-100-400 {
  color: theme('colors.primary-text-100');
  font-family: FiraGO;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.main-text-xs-40-400 {
  color: theme('colors.primary-text-40');
  font-family: FiraGO;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.main-text-xs-100-500-customCLR {
  text-align: center;
  font-family: FiraGO;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.main-text-sm-40-400 {
  color: theme('colors.primary-text-40');
  font-family: FiraGO;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.main-text-sm-40-400-customCLR {
  text-align: center;
  font-family: FiraGO;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.main-text-sm-100{
  color: theme('colors.primary-text-100');
  text-align: center;
  font-family: FiraGO;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.main-text-sm-100-400{
  color: theme('colors.primary-text-100');
  font-family: FiraGO;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.main-text-sm-100-400-customCLR{
  text-align: center;
  font-family: FiraGO;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.main-text-sm-80{
  color: theme('colors.primary-text-80');
  text-align: center;
  font-family: FiraGO;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.main-text-sm-100-500-customCLR {
  text-align: center;
  font-family: FiraGO;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.main-text { 
  color: theme('colors.primary-text-100');
  text-align: center;
  font-family: FiraGO;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.main-text-70 {
  color: theme('colors.primary-text-70');
  font-family: FiraGO;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.main-text-100-400 { 
  color: theme('colors.primary-text-100');
  font-family: FiraGO;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}


.main-text-customCLR { 
  text-align: center;
  font-family: FiraGO;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.main-text-xl-100-400 {
  color: theme('colors.primary-text-100');
  font-family: FiraGO;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.main-text-2xl-100{
  color: theme('colors.primary-text-100');
  font-family: FiraGO;
  font-size: 28px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.main-text-3xl-100 { 
  color: theme('colors.primary-text-100');
  font-family: FiraGO;
  font-size: 32px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.main-text-5xl-100 {
  color: theme('colors.primary-text-100');
  font-family: FiraGO;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}


/* White Text */

.white-text-xs-500 {
  color: theme('colors.primary-white');
  text-align: center;
  font-family: FiraGO;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.48px;
}

.white-text-xl-500 {
  color: theme('colors.primary-white');
  text-align: center;
  font-family: FiraGO;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.8px;
}

/* gray-text */
.gray-text-xs-500 {
  color: theme('colors.gray-text-color');
  text-align: center;
  font-family: FiraGO;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.gray-text-sm-400 {
  color: theme('colors.gray-text-color');
  font-family: FiraGO;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.gray-text {
  color: theme('colors.gray-text-color');
  font-family: FiraGO;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.gray-text-2xl {
  color: theme('colors.gray-text-color');
  font-family: FiraGO;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

/* Secondary Text Fonts Configuration */

/* TODO: Add All Secondary Text font Weights */

.secondary-text{
  color: theme('colors.secondary-text-100');
  font-family: "Helvetica Neue";
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-transform: uppercase;
}
